@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}